{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

<!-- not sure if this is the best way to structure these blocks and error messages -->
{% block flash_message %}
<div class="container">
{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
	<button type="button" class="close" data-dismiss="alert">%times</button>
	{{message}}
</div>
{% endfor %}
{% endblock %}

{% block content %}
  <h1>Test Data</h1>
{% endblock %}